[submodule "external/ScreepsApi"]
	path = external/ScreepsApi
	url = https://github.com/Lyon1-Asterix/ScreepsApi.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
